$border-radius: 0px;

// Default Colors

$primary: rgb(57, 51, 32);

$independence: rgba(58, 66, 102, 1);
$independence-2: rgba(72, 77, 109, 1);
$cadet: rgba(74, 110, 125, 1);
$wintergreen-dream: rgba(194, 140, 0, 0.5);
$cadet-blue: rgba(91, 153, 150, 1);
